@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Funny PUB aplication</h2>
        <p>
            Funny PUB is an application for booking tables and managing pub data.
            Here you can do all needful stuff what you want from our pub and etc...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Created by Jegor</h2>
        <p>Awesome app? if you want the same write me :D</p>
        <p><a class="btn btn-default" href="https://vk.com/epechorin">Check developer VK profile &raquo;</a></p>
    </div>
</div>
