@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="row mb-auto">
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 mb-4 ">
                    <p class="card-text">
                        This is University application for management student
                        into data base. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 d-flex flex-column position-static">
                    <p class="card-text mb-auto">
                        You can concact with developer and ask all questions about app.
                    </p>
                    <p>
                        <a href="https://www.facebook.com/epechorin" class="stretched-link">Contact with developer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>